.library-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.library-container:hover .song-expand-button {
  margin-top: 24px;
  transform: translateX(0);
  opacity: 1;
}

.library-container:hover .your-library {
  margin-left: 44px;
}

.library-container-header {
  display: flex;
  align-items: center;
}

.library-expand-button {
  margin-top: 24px;
  top: 3.25px;
  bottom: 0;
  margin-left: 8px;
}

.animated-search {
  transform-origin: left;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  display: flex;
  width: 80%;
}

.animated-search.expanded {
  transform: scaleX(1);
  opacity: 1;
}

.animated-search.collapsed {
  transform: scaleX(0);
  opacity: 0;
}

.your-library {
  font-family: "SpotifyMixBold";
  font-size: 1.25rem;
  color: white;
  margin-left: 24px;
  margin-top: 24px;
  transition: margin-left 0.3s ease;
}

.library-input-wrapper {
  display: flex;
  align-items: center;

  position: relative;
  background-color: transparent;
  min-height: 120%;
  height: 120%;
  width: 100%;

  justify-self: center;
}

.library-input-and-results {
  border-radius: 6px;
}

.library-magnifying-glass {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  left: 20px;
}
.glass-and-input {
  height: 100%;
  width: 80%;

  padding-left: 12px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}

.library-tools {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.library-buttons-wrapper {
  width: 100%;
  height: 50%;
  gap: 8px;
  display: flex;
  flex-direction: row;
  margin-left: 12px;
}

.library-buttons-wrapper-small {
  flex-wrap: wrap;
}

.library-buttons-wrapper button {
  background: transparent;
  border: none;
  color: #b3b3b3;
  padding: 6px 12px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;

  transition: background 0.2s, color 0.2s;
  font-family: "SpotifyMixBold";
}

.library-buttons-wrapper button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.library-buttons-wrapper button.active {
  background: #b3b3b3;
  color: #000000;
  font-weight: bold;
}

.library-search-wrapper {
  height: 80%;
  display: flex;
  align-items: end;
}

.library-search-input {
  padding: 4px 32px;
  font-family: "SpotifyMixMedium";
  font-size: 1rem;
}

.library-expanded-container {
  position: fixed;
  top: 20vh;
  bottom: 20vh;
  left: 12px;
  right: 12px;
  margin-bottom: 20px;
  height: 80vh;

  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-bottom: 0;
  gap: 24px;
  align-self: center;
  background-color: #121212;
  border: 1px solid #121212;
  border-radius: 10px;
  z-index: 102;
  transition: all 0.5s ease;
  transform-origin: left;
  overflow: auto;
  opacity: 0;
  transform: scaleX(0);
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.library-expanded-container.expanded {
  transform: scaleX(1);
  opacity: 1;
}

.library-expanded-tools {
  background-color: green;
  width: 100%;
}

.library-expanded-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.library-expanded-item-rectangle {
  width: 220px;
  height: 311.67px;

  border-radius: 8px;

  padding: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  cursor: pointer;
}

.library-expanded-item-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
  align-self: start;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.library-expanded-item-image-artist {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  align-self: start;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.library-expanded-item-title {
  word-break: break-word;
  white-space: normal;
  overflow: visible;
  display: block;
  font-size: 1rem;
  line-height: 1.2;
  max-width: 100%;
}
.library-expanded-container.collapsed {
  opacity: 0;
  transform: scaleX(0);
  display: flex;
  align-items: center;
  justify-items: left;
}

.library-small-container {
  align-items: center;
  padding-bottom: 8px;
  scrollbar-gutter: stable;
  overflow-y: auto;

  min-height: 0;
}

.library-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(179, 179, 179);
  cursor: pointer;
  margin: 0 auto;
}

.icon-default {
  position: absolute;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.icon-hover {
  position: absolute;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.library-icon:hover .icon-default {
  opacity: 0;
}

.library-icon:hover .icon-hover {
  opacity: 1;
}

.library-small-list {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: auto;
}

.library-small-item-artist,
.library-small-item {
  width: 80px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  background-color: blue;
}

.library-small-item-artist {
  background-color: red;
  border-radius: 9999px;
}

.library-small-item img,
.library-small-item-artist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}
