@import "./Song.css";
@import "./PlaylistPage.css";
@import "./PlayingSong.css";
@import "./components/subcomponents/Header/Header.css";
@import "./SwiperSpotify.css";
@import "./ArtistPage.css";
@import "./components/pages/AlbumPage/AlbumPage.css";
@import "./components/pages/SearchingPage/SearchingPage.css";
@import "./components//pages/TrackPage/TrackPage.css";
@import "./components/subcomponents/Library/Library.css";
@font-face {
  font-family: "SpotifyMixBold";
  src: url("./assets/fonts/SpotifyMix-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpotifyMixMedium";
  src: url("./assets/fonts/SpotifyMix-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpotifyMixRegular";
  src: url("./assets/fonts/SpotifyMix-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Home styles */

.home-container {
  gap: 8px;
  display: flex;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.resizable {
  height: 100%;
  background-color: #121212;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 6px;
  position: relative;
}

.main {
  overflow-y: auto;
}

.resizable.main {
  overflow-y: auto;
}

.resizer {
  width: 6px;
  cursor: col-resize;

  transition: background-color 0.3s ease;
  z-index: 10;
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 1000000;
}

.resizer-song {
  left: 0;
}

.resizer:hover {
  background-color: #555;
}

.main-container {
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #121212;
  border: 1px solid transparent;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
  position: relative;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* .main-container:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.main-container::-webkit-scrollbar {
  width: 12px;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: #717780;
  opacity: 0;
  transition: opacity 0.3s ease;
} */

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;

  padding: 48px 40px 28px 40px;
}

.swipers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slide:first-child {
  margin-left: 40px;
}

/* Inside main container styles */

.main-container-gradient {
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  margin: 0;
  transition: opacity 0.8s ease-in;
}

.main-container-gradient-visible {
  opacity: 0.8;
}

.main-container-gradient-invisible {
  opacity: 0;
}

.playlist-cards {
  display: grid;
  /* 
  grid-template-columns: repeat(4, 1fr); */
  grid-gap: 8px;
  z-index: 10;
}

.playlist-card {
  height: 68px;

  border-radius: 6px;
  font-weight: bold;
  z-index: 100;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.playlist-card-background {
  width: 100%;
  height: 100%;
  background-color: #c4c3c3;

  opacity: 0.1;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.playlist-card-hovered {
  background-color: #878484;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.playlist-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "SpotifyMixBold", sans-serif;
  font-size: large;
  transition: background-color 0.8s ease-in, box-shadow 0.3s ease;
  color: white;
  z-index: 10;

  padding: 12px 8px 12px 0;
}

.glow-white {
  color: #ffffff;
  text-shadow: rgba(255, 255, 255, 0.26) 0px 0px 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.mini-playlist-image-container {
  height: 100%;
  width: 60px;
  flex-shrink: 0;
  z-index: 10;
}

.mini-playlist-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 10;
}

.playlist-card-text-loading {
  width: 80%;
  margin-right: 5%;
}
