@import "./Song.css";
@import "./PlaylistPage.css";
@import "./PlayingSong.css";
@import "./Header.css";
@import "./SwiperSpotify.css";
@import "./ArtistPage.css";

@font-face {
  font-family: "SpotifyMixBold";
  src: url("./assets/fonts/SpotifyMix-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpotifyMixMedium";
  src: url("./assets/fonts/SpotifyMix-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpotifyMixRegular";
  src: url("./assets/fonts/SpotifyMix-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Home styles */

.home-container {
  display: flex;

  width: 100%;
  height: 80vh;
  position: relative;
  justify-content: center;
  gap: 10px;
  z-index: 10;
  overflow: hidden;
}

.library-container {
  width: 25%;
  background-color: #1d1d1e;
  border: 1px solid #1d1d1e;
  border-radius: 6px;
  height: 100%;
  padding: 24px;
  z-index: 100;
  transition: width 0.6s ease-in-out;
  overflow-y: hidden;
}

.library-container:hover {
  overflow-y: auto;
}

.library-container-expanded {
  width: 100%;
  z-index: 100;
}

.library-expanded-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  background-color: #1d1d1e;
  border: 1px solid #1d1d1e;
  border-radius: 6px;
  padding: 24px;
  z-index: 102;
  transition: all 0.5s ease;
  transform-origin: left;
  overflow: hidden;
  opacity: 0;
  transform: scaleX(0);
  margin-top: 8px;
}

.library-expanded-container.expanded {
  padding-inline: 0;
  transform: scaleX(1);
  opacity: 1;
  background-color: #1d1d1e;
}

.library-expanded-container.collapsing {
  transform: scaleX(0);
  opacity: 0;
}

.library-expanded-container.collapsed {
  width: 0;
  opacity: 0;
  transform: scaleX(0);
}

.main-container {
  width: 55%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #1d1d1e;
  border: 1px solid #1d1d1e;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
  position: relative;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* .main-container:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.main-container::-webkit-scrollbar {
  width: 12px;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: #717780;
  opacity: 0;
  transition: opacity 0.3s ease;
} */

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;

  padding: 48px 56px 28px 56px;
}

.swipers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inside main container styles */

.main-container-gradient {
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  margin: 0;
  transition: opacity 1.3s ease-in;
}

.main-container-gradient-visible {
  opacity: 0.8;
}

.main-container-gradient-invisible {
  opacity: 0;
}

.playlist-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  z-index: 10;
}

.playlist-card {
  height: 65px;
  background-color: #383737;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.playlist-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "SpotifyMixBold", sans-serif;
  font-size: large;
  transition: background-color 0.8s ease-in, box-shadow 0.3s ease;
  color: white;
  z-index: 10;

  padding: 12px 8px 12px 0;
}

.glow-white {
  color: #ffffff;
  text-shadow: rgba(255, 255, 255, 0.26) 0px 0px 5px;
}

.playlist-card-hovered {
  background-color: #878484;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.mini-playlist-image-container {
  height: 100%;
  width: 60px;
  flex-shrink: 0;
  z-index: 10;
}

.mini-playlist-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 10;
}
