.playing-container {
  width: 100%;
  height: 11vh;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  padding: 0px 24px;
  display: flex;
  align-items: center;
}

.playing-wrapper {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playing-details {
  height: auto;

  width: 25%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.playing-tools-center {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playlist-songs {
  position: relative;
  height: fit-content;
}

.playing-controls {
  width: 40%;
  height: 50%;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.playing-button-circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 9999px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.playing-button-circle-wrapper:hover {
  transform: scale(1.2);
}

.playing-button-circle-wrapper .fa-icon {
  transition: transform 0.2s ease-in-out;
}

.playing-previous-next {
  color: rgb(179, 179, 179);
}

.playing-next-wrapper,
.playing-previous-wrapper {
  transition: transform 0.2s ease-in-out;
}

.playing-next-wrapper:hover,
.playing-previous-wrapper:hover {
  transform: scale(1.2);
}

.playing-slider {
  display: flex;
  justify-content: center;
}

.playing-tools-right {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.playing-volume-slider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  width: 40%;
}

.playing-image {
  align-self: center;
  width: 70px;
  height: 70px;
}

.playing-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.playing-name-artist {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  width: 75%;
}

.playing-name {
  font-family: "SpotifyMixMedium", monospace;
  color: white;
  font-size: medium;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playing-artist {
  font-family: "SpotifyMixMedium", monospace;
  color: #b3b3b3;
  font-size: medium;
}
