.playlist-page {
  width: 100%;
  background-color: #121212;
  border: 1px solid #121212;
  border-radius: 6px;
  display: flex;
  z-index: 15;
  position: relative;
  overflow-y: scroll;
}

.playlist-container {
  gap: 0 !important;
  position: relative;
  height: auto;
}

.playlist-page-header {
  width: 100%;
  /* padding-top: 32px;
  padding-inline: 24px; */
  /* padding-bottom: 16px; */
  position: relative;
  z-index: 15;
}

.playlist-image-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 15;
  margin: 0;
  margin-left: 20px;
}

.playlist-image-wrapper img {
  object-fit: cover;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  z-index: 15;
}

.playlist-header-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  position: absolute;
  z-index: 0;

  opacity: 0.5;
}

.playlist-header-content {
  position: relative;
  display: flex;
  gap: 36px;
  z-index: 20;
  height: 350px;
  align-items: center;
}

.playlist-header-text {
  margin-left: 4px;
  width: 60%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 30px;
  gap: 12px;
}

.playlist-header-text h1 {
  font-size: medium;
  font-weight: 800;
  font-size: 2.8rem;
}

.playlist-text-glow {
  text-shadow: rgba(255, 255, 255, 0.26) 0px 0px 5px;
}

.songs-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  z-index: 0;
  opacity: 0.5;
}

.playlist-description {
  max-height: 100px;
  overflow-y: hidden;
  color: "#717780";
  margin: 0;

  font-family: "SpotifyMixMedium", monospace;
  font-size: large;
  color: #b3b3b3;
}

.playlist-description:hover {
  overflow-y: auto;
}

.playlist-description a {
  color: white;
}

.playlist-title {
  margin: 0;
}

.playlist-owner-image-wrapper {
  margin: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.playlist-owner-image-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.playlist-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.playlist-owner-name {
  font-family: "SpotifyMixMedium", monospace;
  margin-left: 8px;
  color: white;
}

.separation-ball {
  margin-top: 2px !important;
  width: 6px;
  height: 6px;
  background-color: #9ca0a6;
  border-radius: 50%;
  display: inline-block;
  margin: 4px 4px 0 4px;
}

.playlist-tools-container {
  margin: 0;
  padding: 8px 56px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
  position: sticky;
  top: 0;
  box-sizing: content-box;
  transition: background-color 0.3s ease;
}

.tools-wrapper {
  width: auto;
  height: 80%;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 16px;
}
.play-button-green {
  width: 78px;
  height: 78px;
  background-color: #1ed760;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.play-button-green span {
  color: black;
  font-size: 1.875rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  margin-left: 5px;
}

.play-button-green:hover {
  transform: scale(1.1);
  background-color: #1fdf64;
  z-index: 100;
}

.play-button-green:hover .fa-icon {
  transform: scale(1.1);
}

.play-triangle {
  border-left: 1.4em solid black;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  z-index: 100;
}

.list-options {
  margin-left: auto;
  z-index: 100;
  margin-right: 4px;
}

/* Song list styles */

.songs-heading-container {
  width: 100%;
  padding-inline: 24px;
}

.songs-heading {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 1fr;
  align-items: center;
  padding: 8px 32px 16px 32px;
  margin-bottom: 12px;
  color: #d6d8dc;
  font-family: "SpotifyMixMedium";
  font-size: large;
  border-bottom: 1px solid rgba(214, 216, 220, 0.2);

  font-family: "SpotifyMixMedium", monospace;
  font-size: larger;
  color: #b3b3b3;
}

.heading-duration {
  text-align: right;
}

.heading-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.songs-heading-title {
  display: flex;
  gap: 20px;
}

.song-card {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr;
  align-items: center;
  gap: 16px;
  padding: 8px 32px;
  height: fit-content;
  color: #fff;
  border-radius: 8px;
  z-index: 100;
}

.song-card:hover {
  background-color: rgba(128, 128, 128, 0.3);
  cursor: pointer;
}

.song-artist {
  font-family: "SpotifyMixMedium", monospace;
  font-size: large;
  color: #b3b3b3;
}

.song-album {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: "SpotifyMixMedium", monospace;
  font-size: large;
  color: #b3b3b3;

  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

.song-date {
  font-family: "SpotifyMixMedium", monospace;
  font-size: large;
  color: #b3b3b3;

  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

.song-duration {
  text-align: right;
  font-family: "SpotifyMixMedium", monospace;
  font-size: large;
  color: #b3b3b3;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

.song-album span {
  width: 80%;
}

.song-index-number {
  font-family: "SpotifyMixBold", monospace;
  font-size: x-large;
  min-width: 3ch;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.song-index {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.song-play-triangle {
  font-family: "SpotifyMixBold", monospace;
  font-size: x-large;
  min-width: 3ch;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.song-card:hover .song-index {
  opacity: 0;
}

.song-card:hover .song-play-triangle {
  opacity: 1;
}

.hashtag {
  width: 3ch;
  text-align: left;
}

.song-image-wrapper {
  border-radius: 6px;
  overflow: hidden;
  height: 64px;
  width: 64px;
}

.song-list-container {
  display: flex;
  flex-direction: column;
}

.song-name {
  font-family: "SpotifyMixBold", monospace;
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.name-artist-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
  display: inline-block;
  min-width: 0;
  max-width: 100%;
}
