.song-container {
  width: 100%;
  background-color: #121212;
  border: 1px solid #121212;
  border-radius: 6px;
  height: 80vh;
  z-index: 100;
  transition: width 0.6s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.song-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.song-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.song-expand-button {
  bottom: 6px;
  position: absolute;
  left: 0;
  transform: translateX(-10px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.2s ease;
  color: white;
  cursor: pointer;
}

.song-container:hover .song-expand-button {
  transform: translateX(0);
  opacity: 1;
}

.song-header {
  width: 100%;
  height: 5%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  position: relative;
  padding-inline: 4px;
  margin: 24px 0 12px 24px;
}

.song-title-artist {
  width: 100%;
  height: 15%;

  margin-bottom: 24px;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.song-name-big {
  font-family: "SpotifyMixBold";
  font-size: xx-large;
}

.song-artist-big {
  font-family: "SpotifyMixMedium";
  font-size: x-large;

  color: #b3b3b3;
}

@keyframes scroll-left-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.song-name-header {
  font-family: "SpotifyMixBold";
  font-size: 2.5rem;
  margin-left: 0;
  transition: margin-left 0.3s ease;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.song-container:hover .song-name-header {
  margin-left: 44px;
}

/* Song container styles */

.song-expanded-container {
  position: fixed;
  top: 20vh;
  bottom: 20vh;
  left: 12px;
  right: 12px;
  margin-bottom: 20px;
  height: 80vh;

  display: flex;
  align-self: center;

  background-color: #121212;
  border: 1px solid #121212;
  border-radius: 10px;
  z-index: 102;
  transition: all 0.5s ease;
  transform-origin: right;
  overflow: hidden;
  opacity: 0;
  transform: scaleX(0);
}

.song-expanded-container.expanded {
  padding-inline: 0;

  transform: scaleX(1);
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.song-expanded-container.collapsed {
  opacity: 0;
  transform: scaleX(0);

  display: flex;
  align-items: center;
  justify-items: left;
}

.song-image-container-expanded {
  display: flex;
  justify-content: center;
  z-index: 10;
  padding: 0;
}

.song-image-expanded {
  width: 500px !important;
  height: 500px !important;
}

.expanded-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
