.searching-container {
  gap: 0 !important;
  padding: 24px 0px 28px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.searching-swiper p {
  font-family: "SpotifyMixBold";
  font-size: 2.05rem;
  color: white;
  display: block;
  margin: 0;

  padding-left: 56px;
}

.showing-results {
  font-family: "SpotifyMixBold";
  font-size: 3rem;
  color: white;
  padding-right: 24px;
  max-width: 95%;
  padding-left: 56px;
}

.search-term {
  display: inline-block;
  margin-left: 16px;

  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

.searching-loading {
  margin: 0 auto;
  position: relative;
  top: 50%;
}
